.projects-bg{
    background-color: #0A192F;
}
.projects-title{
    color: #CCD6F6;
    font-size: 30px;
    text-align: center;
    padding-bottom: 4%;
    padding-top: 2%;
}
.projects-title p{
    border-bottom: 5px double #4DC5AF;
    padding-bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;
}
