.img-style img{
    border-radius: 10px;
    display: block;
    margin: auto;
    width: 350px;
}
.img-style{
    border-right: 1px dotted #d65336;
}

.list-style li{
    list-style: none;
}
.project-two{
    border-right: 1px dotted #d65336;;
}

.card-image img{
    height: 220px;
    object-fit: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-container{
    background-color: #4DC5AF;
    border-radius: 10px;
}
.card-description{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px;
}


/* repair guruji */
@media only screen and (min-width: 1200px) {
    .details{
        padding-left: 50px;
    }
}
@media only screen and (max-width: 973px) {
    .img-style img{
        width: 280px;
    } 
}
@media only screen and (max-width: 576px) {
    .img-style img{
        margin-bottom: 25px;
    } 
}


/* for eplanet */
@media only screen and (min-width: 576px) {
    .sm-eplanet{
        display: none;
    } 
}
@media only screen and (max-width: 576px) { 
    .lg-eplanet{
        display: none;
    } 
}


/* for card */
@media only screen and (max-width: 1024px) {
    .responsive{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}
@media only screen and (max-width: 828px) {
    .responsive{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 15%;
        grid-gap: 25px;
    }
}
@media only screen and (max-width: 719px) {
    .responsive{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10%;
        grid-gap: 25px;
    }
}
@media only screen and (max-width: 480px) {
    .responsive{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        grid-gap: 25px;
    }
}
