.img-style img{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(216, 214, 214, 0.2), 0 6px 20px 0 rgba(196, 194, 194, 0.19);
    display: block;
    margin: auto;
}
.img-style{
    border-right: 1px dotted #d65336;
}

.list-style li{
    list-style: none;
}
.project-two{
    border-right: 1px dotted #d65336;;
}

.card-image img{
    height: 220px;
    object-fit: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-container{
    background-color: #4DC5AF;
    border-radius: 10px;
}
.card-description{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px;
}