.navColor{
    color: #b8b9bb;
    font-weight: 600;
}
.navColor:hover{
    text-decoration: none;
    color: #4DC5AF;
}
.custom-toggler {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.nav-padding{
    padding-left: 5%;
    padding-right: 5%;
}
.img-size{
    width: 60px;
}

.nav-hover{
    transition: .3s;
}
.nav-hover:hover{
    border: 1px dotted lightgreen;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}
